/* Style for the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Style for form labels */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* Style for input fields */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Style for radio buttons */
input[type="radio"] {
  margin-right: 5px;
}
.gender-options {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}
/* In your Lend.css or your CSS file */
.error-message {
  color: red;
  font-size: 14px;
}

/* Style for the "Upload Image" input */
input[type="file"] {
  margin-top: 5px;
}

/* Style for the Submit button */
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

/* Style for the h1 heading */
h1 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}
